#application {
  font-size: 0.8em;
  margin: 2px
}

.form label, .form input, .form select {
  font-size: 0.95em;
  margin: 0;

}

table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
  margin-top: 5px;
  margin-bottom: 5px;
}

table th {
  background-color: #0d6efd;
  color: white;
  text-align: left;
  font-weight: bold;
  padding: 12px 14px;
}

table tr {
  border-radius: 5px;
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
table tr:nth-of-type(even) {
  background-color: rgba(0,0,0, 0.05);
}

table a {
  text-decoration: none;
}

table a:hover {
  text-decoration: underline;
}